{% extends 'base.html' %}


    {% block heading %} {% endblock %}

        {% block content %}

        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <div class="well">

                <h1>{{ title }}</h1>
                    
                    <p><i>{{ post.content|linebreaks }}</i></p><br/>
                    <p>Created: {{ post.timestamp }}</p>
                    <p>Updated: {{ post.updated }}</p>
                    <p><b>Slug:</b> {{ post.slug }}</p>
                    <p>pk={{ post.pk }}<br/><br/></p>
                    <p></p>
                    <p><a href="{% url 'delete' post.pk %}" class="btn btn-danger" role="button">Delete</a></p> 

                </div> <!--end well -->
                <br/>
                <br/>

    {# Begin Disqus Comments #}

        <h2>Comments:</h2><hr style='border-width: 5px;'>
        <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */
                
                var disqus_config = function () {
                    this.page.url = '{{ request.build_absolute_uri }}';  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = 'post.id'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                
                (function() {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    
                    s.src = '//djangoworld.disqus.com/embed.js';
                    
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    {# End Disqus Comments #}

        </div> <!--end col -->
    </div> <!--end row -->

        {% endblock %}

        {% comment %}
            {# for facebook comments. goes where you want comments #}
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
            }
        {% endcomment %}